html(lang="en")
  head
    link(rel='stylesheet', href='style.css')
  body
    h1 Timestamp Microservice
    h2 Provide a unix timestamp or month-day-year date delimited by hyphens or spaces.
    h3 Examples:
    p /February 8 2018
    p /feb-08-18
    p /1518048000
